*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    color: #fff;
    font-size: 62.5%;
    font-weight: normal;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(6,6,6,1) 35%);
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.6rem; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 150%;
}
a:hover{
    opacity: .4;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

/* ------------------header---------------------- */

.container {
    max-width: 130rem;
    /* width: 100%; */
    margin: 0 auto;
}
.button {
    width: 18.6rem;
    height: 4.4rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    color: #fff;
}
.header{
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 130rem;
    width: 100%;
}

.header__logo{
    display: block;
    width: 4rem;
    height: 4rem;

}
.header__link:not(:last-child) {
    margin-right: 7.1rem;
}
.header__link {
    font-size: 1.6rem;
}
.header__menu {
    display: flex;
    justify-content: center;
}
.header_button {
    margin-left: 15%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-weight: 400;
}

/* ------------------main---------------------- */

.main__display {
    position: relative;
}
.main__display {
    padding-top: 27rem;
}
.main__display .container {
    position: relative;
    z-index: 2;
}
.main__display-background {
    position: absolute;
    top: 0rem;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}
.main__display__header {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 140%;
}
.timer {
    margin: 5rem 0 7.6rem;
    display: flex;
}
.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    margin-left: 3rem;
    text-align: center;
    background-color: #121212;

}
.timer__item:first-child{
    margin-left: 0;
}
.timer__count {
    padding-top: 2rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5.04rem;
}
.timer__text {
    font-weight: 400;
    font-size: 1.6rem;
    opacity: .4;
}
.main__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 22.8rem;
}

.work {
    margin-top: 18.4rem;
    margin-bottom: 20rem;
}
.work__img {
    width: 52.6rem; 
    height: 54.2rem; 
    margin-right: 13.4rem;
}
.work__wrap {
    display: flex;
}
.work__text {
    font-size: 1.6rem;
    max-width: 53.6rem;
    padding-top: 6.9rem;
}
.work__title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%; 
}

.prcess__img {
    width: 12.7rem;
    height: 12.7rem;
}
.process__title {
    display: flex;
    align-items: center;
}
.process__header{
    /* padding-left: 2rem; */
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
}
.process__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    opacity: .5;
    padding-top: 5rem;
    width: 41.1rem;
    margin-bottom: 8rem;
}
.process__columns {
    display: flex;
}
.process__item {
    width: 30.6rem;
    height: 20.3rem;
    padding-left: 1.8rem;
}
.process__item:first-child{
    padding-left: 0;
}
.process__work {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    padding-bottom: 6.5rem;
    position: relative;
}
.process__work::after{
    content: "";
    left: 0;
    bottom: 5rem;
    position: absolute;
    width: 108%;
    height: 2px;
    background-color: #7C6AFA;
    /* background-color: gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%); */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    /* border-bottom: 1px solid red; */
}
.work__description{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    opacity: .5;
    padding-bottom: 20rem;
}